<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
       "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<title>#FILENAME#</title>
<link rel="stylesheet" type="text/css" href="../style.css">
</head>

<body>
<div id="Page">
 <h1> #FILENAME#  </h1> <a href="../index.html">overview</a><br />

 <p>#BRIEF#</p>

 <p><a href="#SOURCE#">source</a></p>

 <table border="1">
 <tr>
	<td valign="top">Author:</td>
	<td>#AUTHOR#</td>
 </tr>
 <tr>
	<td valign="top">Created:</td>
	<td>#DATE#</td>
 </tr>
 <tr>
	<td valign="top">Description:</td>
	<td>#DETAILS#</td>
 </tr>
 <tr>
	<td valign="top">Changelog:</td>
	<td>#CHANGELOG#</td>
 </tr>
</table>
</div>
</body>
</html>
